@model CRWBookStore.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isbn13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isbn13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Num_pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num_pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publication_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publication_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.picture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Book_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
